<!DOCTYPE html>
<html lang="en">

<head>
    {{>headerlinks}}
</head>

<body>
    
    {{>navbar}}
    <div id="google_translate_element"></div>

    <script type="text/javascript">
function googleTranslateElementInit() {
  new google.translate.TranslateElement({pageLanguage: 'en'}, 'google_translate_element');
}
</script>

    <script type = "text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit">

    </script>
    
    
                <div class="adv">
                    <div class="col-md-6 col-12 main_header_left">
                        <p>Let's look at Advisories!</p>
                        <h1>Farm advisory provides various crops of their operational area related to crop
production, protection and post-harvest during pandemic situation. </h1>
                        <a href= https://farmer.gov.in/><button> Advisories</button></a>

                    </div>
                </div>
            
                
   
    {{>footer}}

</body>


</html>