<!DOCTYPE html>
<html lang="en">

<head>
    {{>headerlinks}}
</head>

<body>
    
    {{>navbar}}
    <div id="google_translate_element"></div>

    <script type="text/javascript">
function googleTranslateElementInit() {
  new google.translate.TranslateElement({pageLanguage: 'en'}, 'google_translate_element');
}
</script>

    <script type = "text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit">

    </script>
    
    
                <div class="govt ">
                    <div class="col-md-6 col-12 main_header_left">
                        <p>Let's learn about Government Schemes!</p>
                        <h1>Our Indian Government has introduced many <span class="text_clr">Government Schemes</span>  for the welfare of our farmers.</h1>
                        <a href= https://agricoop.nic.in/programmes-schemes-listing><button> Government Schemes</button></a>

                    </div>
                </div>
            
                
   
    {{>footer}}

</body>


</html>